@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
}
.Shivam{
  width: 50%;
  
}
.Pathak{
    bottom: 250px;
}
.Pathak2{
  left: 526px;
  bottom: 538px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
}